.page{
    width: 100vw;           /* all the screen width */
    min-height: 100vh;      /* all the screen hight */
    display: flex;          /* enable flex box */
    justify-content: center; /* center horizontally*/
    align-items: center;    /* center vertically */
    background-color: #ffffff ; /* background color */
}

.container{
    width :100% ;
    max-width: 400px; /* limit width */
    border-radius: 25px; 
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 30px ; /* for space inside the card */
}

.title{
    text-align: center; 
    padding-bottom: 25px;
    font-size: 28px;
    color: #23664d ;
    font-weight:900;
}
.button{
    display: block; /* make the margin auto work */
    width : 50% ;
    padding: 20px;
    background-color:  #2d8867 ;
    color: white;
    border: none ;      /* remove default border */
    border-radius: 30px;
    cursor:pointer;     /* pointer on hover */
    font-size: 23px;
    margin: 4.5rem auto;
    font-weight: 900;
}

.button:hover {
  background-color: #5394ab;           /* darker green */
}
.button:focus{
    outline: none;
}